
.badges h3 {
  padding: 10px 0 10px 0;
}

.badges>div {
  display: flex;
  // justify-content: space-between;
  padding: 10px 0 10px 0;
  border-bottom: 1px solid $keyLineGrey;
  text-align: center;
    .badge {
      width: 25%;
        p {
          font-size: 1.4rem;
          color: $bodyCopyCards;
        }
        img {
          width: 50px;
          height: 50px;
          flex-direction: row;
        }
    }
}

.viewAllBadges {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: $radPink;
  font-size: 1.6rem;
  font-family: 'basier_squaremedium', sans-serif;
  padding: 16px;
}