


$bodyCopyCards: #575757;
$secondaryTextButton: #757575;
$keyLineGrey: #D8D8D8;
$backgroundGrey: #F7F7F7;
$white: #FFFFFF;

$midnight: #181839;
$radPink: #FF575B;
$radPinkLight: rgba(255,87,91,.1);
$mainPurple: #2F2B5C;
$mainPurpleLight: #D8D8E1;
$torqueT: #70BCBA;
