@font-face {
  font-family: 'basier_squaremedium';
  src: url('/assets/fonts/Basier-Square-medium-webfont/basiersquare-medium-webfont.eot');
  src: url('/assets/fonts/Basier-Square-medium-webfont/basiersquare-medium-webfont.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/Basier-Square-medium-webfont/basiersquare-medium-webfont.woff2') format('woff2'),
       url('/assets/fonts/Basier-Square-medium-webfont/basiersquare-medium-webfont.woff') format('woff'),
       url('/assets/fonts/Basier-Square-medium-webfont/basiersquare-medium-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'basier_squareregular';
  src: url('/assets/fonts/Basier-Square-regular-webfont/basiersquare-regular-webfont.eot');
  src: url('/assets/fonts/Basier-Square-regular-webfont/basiersquare-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/Basier-Square-regular-webfont/basiersquare-regular-webfont.woff2') format('woff2'),
       url('/assets/fonts/Basier-Square-regular-webfont/basiersquare-regular-webfont.woff') format('woff'),
       url('/assets/fonts/Basier-Square-regular-webfont/basiersquare-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'basier_squaresemibold';
  src: url('/assets/fonts/Basier-Square-semibold-webfont/basiersquare-semibold-webfont.eot');
  src: url('/assets/fonts/Basier-Square-semibold-webfont/basiersquare-semibold-webfont.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/Basier-Square-semibold-webfont/basiersquare-semibold-webfont.woff2') format('woff2'),
       url('/assets/fonts/Basier-Square-semibold-webfont/basiersquare-semibold-webfont.woff') format('woff'),
       url('/assets/fonts/Basier-Square-semibold-webfont/basiersquare-semibold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}