.homeStudio {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $keyLineGrey;
  padding-top: 13px;
    .chevron {
      height: 30px;
      width: 30px;
    }
}