.activityWrapper {
  padding: 15px;
    .cardPadding {
      padding: 20px;
    }
}

.invitesCard {
  padding: 20px 20px 15px 20px;
  position: relative;
  &:before {
    content: '';
    height: 14px;
    width: 14px;
    background-color: $radPink;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 10px;
  }
}

.declineAccept {
  display: flex;
  font-size: 1.6rem;
  justify-content: flex-end;
}

.invitesCard{
    button {
      border: none;
      background-color: transparent;
    }
    .decline {
      color: $secondaryTextButton;
      text-decoration: underline;
      padding: 0 30px 0 0;
    }
    button:last-child {
      font-family: 'basier_squaremedium', sans-serif;
      color: $radPink;
    }
}

.invitesRequest {
  display: flex;
   img {
     height: 53px;
     width: 53px;
     border-radius: 50%;
   }
   .invitesRequestContainer {
    display: flex;
    padding-left: 15px;
    justify-content: space-between;
    width: 100%;
    color: $midnight;
    font-size: 1.6rem;
      .invitesRequestText {
        padding: 0 15px 10px 0;
          a {
          color: $secondaryTextButton;
          text-decoration: underline;
          }
      } 
   }
   .x {
     width: 12px;
     height: 12px;
   }
   button {
    border: none;
   }
}

.invitesDate {
  font-family: 'basier_squaremedium', sans-serif;
  font-size: 1.2rem;
  color: $secondaryTextButton;
  text-transform: uppercase;
  padding-bottom: 15px;
  letter-spacing: .5px;
}