.details {
  display: flex;
  font-size: 1.6rem;
  justify-content: space-between;
  text-decoration: none;
  color: $radPink;
  font-family: 'basier_squaremedium', sans-serif;
}

.notificationsCard {
  padding: 20px 20px 5px 20px;
}

.notificationsRequest {
display: flex;

 img {
   height: 53px;
   width: 53px;
   border-radius: 50%;
 }
 .notificationsRequestContainerContainer {
  padding-left: 15px;
  width: 100%;
 }
 .notificationsRequestContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: $midnight;
  font-size: 1.6rem;
    .notificationsRequestText {
      padding: 0 15px 10px 0;
        span {
        color: $secondaryTextButton;
        text-decoration: underline;
        }
    } 
 }
 .x {
   width: 12px;
   height: 12px;
 }
}

.notificationsDate {
  font-family: 'basier_squaremedium', sans-serif;
  font-size: 1.2rem;
  color: $secondaryTextButton;
  text-transform: uppercase;
  padding-bottom: 15px;
  letter-spacing: .5px;
}