
.profile {
  background-color: $torqueT;
  height: 70vh;
}

.profileWrapper {
  padding: 15px;
    h1 {
      font-family: 'basier_squaresemibold', sans-serif;
      padding-top: 10px;
      font-size: 3.2rem;
      color: $white;
    }
}
