article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

@font-face {
  font-family: 'basier_squaremedium';
  src: url("/assets/fonts/Basier-Square-medium-webfont/basiersquare-medium-webfont.eot");
  src: url("/assets/fonts/Basier-Square-medium-webfont/basiersquare-medium-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/Basier-Square-medium-webfont/basiersquare-medium-webfont.woff2") format("woff2"), url("/assets/fonts/Basier-Square-medium-webfont/basiersquare-medium-webfont.woff") format("woff"), url("/assets/fonts/Basier-Square-medium-webfont/basiersquare-medium-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'basier_squareregular';
  src: url("/assets/fonts/Basier-Square-regular-webfont/basiersquare-regular-webfont.eot");
  src: url("/assets/fonts/Basier-Square-regular-webfont/basiersquare-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/Basier-Square-regular-webfont/basiersquare-regular-webfont.woff2") format("woff2"), url("/assets/fonts/Basier-Square-regular-webfont/basiersquare-regular-webfont.woff") format("woff"), url("/assets/fonts/Basier-Square-regular-webfont/basiersquare-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'basier_squaresemibold';
  src: url("/assets/fonts/Basier-Square-semibold-webfont/basiersquare-semibold-webfont.eot");
  src: url("/assets/fonts/Basier-Square-semibold-webfont/basiersquare-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/Basier-Square-semibold-webfont/basiersquare-semibold-webfont.woff2") format("woff2"), url("/assets/fonts/Basier-Square-semibold-webfont/basiersquare-semibold-webfont.woff") format("woff"), url("/assets/fonts/Basier-Square-semibold-webfont/basiersquare-semibold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

.card {
  background-color: #FFFFFF;
  border: 1px solid #E6E6E6;
  margin: 15px 0 15px 0;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.05); }

.cardPadding {
  padding: 10px 15px 10px 15px; }

.navWrapper {
  background-color: #2F2B5C;
  display: flex;
  justify-content: flex-end; }
  .navWrapper ul {
    padding: 20px;
    height: 60px;
    background-color: #2F2B5C;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 500px; }
    .navWrapper ul li {
      list-style: none;
      font-family: 'basier_squaremedium', sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      margin: 0;
      align-self: center;
      font-size: 1.4rem;
      letter-spacing: .1px;
      height: 60px;
      display: flex; }
      .navWrapper ul li:hover, .navWrapper ul li:focus, .navWrapper ul li:active {
        border-top: 2px solid transparent;
        border-bottom: 2px solid #FFFFFF; }
  .navWrapper a {
    text-decoration: none;
    color: #FFFFFF;
    align-self: center; }
  .navWrapper img {
    height: 28px;
    width: auto;
    border-radius: 50%;
    border: 1px solid #FFFFFF; }

.profile {
  background-color: #70BCBA;
  height: 70vh; }

.profileWrapper {
  padding: 15px; }
  .profileWrapper h1 {
    font-family: 'basier_squaresemibold', sans-serif;
    padding-top: 10px;
    font-size: 3.2rem;
    color: #FFFFFF; }

.badges {
  padding: 3px 15px 10px 15px; }
  .badges h3 {
    padding-bottom: 10px; }

.badges > div {
  display: flex;
  padding: 5px 0 10px 0;
  border-bottom: 1px solid #D8D8D8;
  text-align: center; }
  .badges > div .badge {
    width: 25%; }
    .badges > div .badge p {
      font-size: 1.4rem;
      color: #575757;
      padding: 5px 0 10px 0; }
    .badges > div .badge img {
      width: 50px;
      height: 50px;
      flex-direction: row; }

.viewAllBadges {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: #FF575B;
  font-size: 1.6rem;
  font-family: 'basier_squaremedium', sans-serif;
  padding: 15px 0 5px 0; }

.mainInfo .progressBar, .rewards .progressBar {
  background-color: rgba(255, 87, 91, 0.1);
  height: 7px;
  border-radius: 3.5px; }
  .mainInfo .progressBar .progressBarLevel, .rewards .progressBar .progressBarLevel {
    background-color: #FF575B;
    height: 7px;
    border-top-left-radius: 3.5px;
    border-bottom-left-radius: 3.5px; }

.progressBar {
  background-color: #D8D8E1;
  height: 7px;
  border-radius: 3.5px; }
  .progressBar .progressBarLevel {
    background-color: #2F2B5C;
    height: 7px;
    border-top-left-radius: 3.5px;
    border-bottom-left-radius: 3.5px; }

.homeStudio {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #D8D8D8;
  padding-top: 13px; }
  .homeStudio .chevron {
    height: 30px;
    width: 30px; }

.totalPoints {
  font-family: 'basier_squareregular', sans-serif;
  font-size: 4.4rem;
  padding: 5px 0 10px 0; }
  .totalPoints:after {
    content: 'PTS';
    font-size: 1.8rem;
    position: relative;
    top: -18px;
    left: 10px; }

.level {
  display: flex;
  color: #575757;
  font-size: 1.6rem;
  align-items: center;
  border-bottom: 1px solid #D8D8D8;
  padding: 14px 10px 17px 0; }
  .level .currentLevel, .level .nextLevel {
    font-family: 'basier_squaremedium', sans-serif;
    padding-right: 10px; }
  .level .pointsUntil {
    font-family: 'basier_squareregular', sans-serif;
    border-left: 1px solid #D8D8D8;
    padding: 0 10px 0 10px; }

.levelAlone {
  font-family: 'basier_squaremedium', sans-serif;
  color: #575757;
  font-size: 1.6rem; }

.challengesWrapper {
  padding: 15px; }

.alignRight {
  display: flex;
  justify-content: flex-end;
  font-size: 1.6rem; }
  .alignRight a {
    font-family: 'basier_squaremedium', sans-serif;
    color: #FF575B; }

.challengesWrapper h1 {
  font-family: 'basier_squaresemibold', sans-serif;
  padding-top: 10px;
  font-size: 3.2rem;
  color: #FFFFFF; }

.congratsCard {
  background-image: url("/assets/images/confettiSmall.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px; }
  .congratsCard > div {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .congratsCard > div h2 {
      font-size: 3.4rem;
      text-align: center;
      padding: 40px 0 20px 0; }

@media only screen and (min-width: 400px) {
  .congratsCard > div {
    background-color: #FFFFFF;
    border: 1px solid #E6E6E6;
    max-width: 900px;
    width: 100%;
    padding: 15px;
    margin: 15px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.05); }
  .congratsCard {
    padding-bottom: 10px; } }

.congratsCardChallenge {
  font-size: 1.6rem;
  color: #575757;
  text-align: center;
  border-bottom: 1px solid #D8D8D8;
  padding: 0 0 20px 0;
  line-height: 1.4; }

.congratsCardRewards {
  font-family: 'basier_squaremedium', sans-serif;
  font-size: 1.8rem;
  text-align: center;
  padding: 20px 0 25px 0; }

.challengeNameAndDetails, .challengePercentAndPts {
  display: flex;
  align-items: center;
  padding-top: 10px;
  justify-content: space-between;
  padding: 10px 15px 0 15px; }

.challengePercentAndPts > p:first-child {
  font-size: 2.8rem;
  color: #2F2B5C;
  font-family: 'basier_squareregular', sans-serif; }

.challengePercentAndPts > p:last-child {
  font-size: 1.8rem;
  color: #575757; }

.challengeNameAndDetails {
  border-bottom: 1px solid #D8D8D8;
  padding: 15px; }
  .challengeNameAndDetails a {
    font-family: 'basier_squaremedium', sans-serif;
    color: #575757;
    font-size: 1.6rem; }

.challengeProgressBar {
  padding-bottom: 15px; }

.fitnessClassWrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 10px; }
  .fitnessClassWrapper > div:nth-child(even) {
    padding-left: 0; }
  .fitnessClassWrapper > div:nth-child(odd) {
    padding-right: 0; }
  .fitnessClassWrapper > div > p {
    padding-bottom: 5px; }
  .fitnessClassWrapper .nameOfClass {
    font-size: 1.8rem; }
  .fitnessClassWrapper .instructor {
    text-transform: uppercase;
    font-size: 1.2rem; }
  .fitnessClassWrapper .dateInContext {
    text-align: right;
    font-size: 1.8rem; }
  .fitnessClassWrapper .dateOfClass {
    text-align: right;
    color: #575757;
    font-size: 1.4rem; }

.congratsModal {
  background-image: url("/assets/images/confetti.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100vw;
  height: calc(100vh - 60px);
  background-position: right 0 top -50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.congratsModalCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; }
  .congratsModalCard img {
    margin: 120px 0 30px 0;
    width: 70vw;
    height: auto;
    max-width: 400px; }
  .congratsModalCard > div {
    width: calc(100% - 60px);
    margin: 0 30px 0 30px; }
  .congratsModalCard p {
    font-family: 'basier_squaremedium', sans-serif;
    font-size: 1.8rem;
    text-align: center;
    color: #181839;
    line-height: 1.4; }
  .congratsModalCard > p {
    font-family: 'basier_squareregular', sans-serif;
    font-size: 1.6rem;
    color: #575757;
    padding: 10px 0 30px 0; }

@media only screen and (min-width: 400px) {
  .congratsModalCard {
    background-color: #FFFFFF;
    border: 1px solid #E6E6E6;
    max-width: 900px;
    width: 80%;
    padding: 15px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.05);
    padding-bottom: 30px; }
    .congratsModalCard img {
      margin: 30px 0 30px 0; } }

.rewards {
  background-color: #70BCBA;
  height: 30vh; }

.rewardsWrapper {
  padding: 15px; }
  .rewardsWrapper h1 {
    font-family: 'basier_squaresemibold', sans-serif;
    padding-top: 10px;
    font-size: 3.2rem;
    color: #FFFFFF; }
  .rewardsWrapper .level {
    border-bottom: none;
    padding: 14px 10px 5px 0; }

.rewardInProgressCard {
  display: flex; }
  .rewardInProgressCard > div {
    display: flex;
    justify-content: center;
    flex-direction: column; }
  .rewardInProgressCard a {
    color: #FF575B;
    font-size: 1.6rem;
    font-family: 'basier_squaremedium', sans-serif; }

.rewardCard > div:first-child {
  display: flex;
  border-bottom: 1px solid #D8D8D8;
  justify-content: space-between;
  font-family: 'basier_squaremedium', sans-serif; }
  .rewardCard > div:first-child a {
    color: #575757;
    font-size: 1.6rem;
    text-decoration: underline; }

.nameOfReward {
  font-family: 'basier_squaremedium', sans-serif;
  font-size: 1.8rem; }

.rewardDate {
  font-family: 'basier_squaremedium', sans-serif;
  font-size: 1.2rem;
  color: #757575;
  text-transform: uppercase;
  padding-bottom: 5px; }

.rewardDescription {
  font-family: 'basier_squareregular', sans-serif;
  color: #757575;
  font-size: 1.6rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }

.pts {
  font-family: 'basier_squareregular', sans-serif;
  font-size: 1.4rem;
  color: #757575;
  padding: 4px 0 7px 0; }

.lockContainer {
  margin: 20px;
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 3px solid #181839;
  border-radius: 50%; }
  .lockContainer img {
    height: 70%;
    padding-bottom: 3px; }

.unlockedRedeem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem; }
  .unlockedRedeem a {
    font-family: 'basier_squaremedium', sans-serif;
    color: #FF575B; }
  .unlockedRedeem > div {
    display: flex;
    align-items: center; }
  .unlockedRedeem img {
    height: 22px;
    padding-right: 10px; }

.tabsList {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  font-size: 1.7rem;
  font-family: 'basier_squaremedium', sans-serif;
  padding: 15px 0 15px 0; }
  .tabsList .react-tabs__tab--selected {
    border-bottom: 3px solid #FF575B; }

.activityWrapper {
  padding: 15px; }
  .activityWrapper .cardPadding {
    padding: 20px; }

.invitesCard {
  padding: 20px 20px 15px 20px;
  position: relative; }
  .invitesCard:before {
    content: '';
    height: 14px;
    width: 14px;
    background-color: #FF575B;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 10px; }

.declineAccept {
  display: flex;
  font-size: 1.6rem;
  justify-content: flex-end; }

.invitesCard button {
  border: none;
  background-color: transparent; }

.invitesCard .decline {
  color: #757575;
  text-decoration: underline;
  padding: 0 30px 0 0; }

.invitesCard button:last-child {
  font-family: 'basier_squaremedium', sans-serif;
  color: #FF575B; }

.invitesRequest {
  display: flex; }
  .invitesRequest img {
    height: 53px;
    width: 53px;
    border-radius: 50%; }
  .invitesRequest .invitesRequestContainer {
    display: flex;
    padding-left: 15px;
    justify-content: space-between;
    width: 100%;
    color: #181839;
    font-size: 1.6rem; }
    .invitesRequest .invitesRequestContainer .invitesRequestText {
      padding: 0 15px 10px 0; }
      .invitesRequest .invitesRequestContainer .invitesRequestText a {
        color: #757575;
        text-decoration: underline; }
  .invitesRequest .x {
    width: 12px;
    height: 12px; }
  .invitesRequest button {
    border: none; }

.invitesDate {
  font-family: 'basier_squaremedium', sans-serif;
  font-size: 1.2rem;
  color: #757575;
  text-transform: uppercase;
  padding-bottom: 15px;
  letter-spacing: .5px; }

.details {
  display: flex;
  font-size: 1.6rem;
  justify-content: space-between;
  text-decoration: none;
  font-family: 'basier_squaremedium', sans-serif; }
  .details button {
    color: #FF575B;
    background-color: transparent; }

.notificationsCard {
  padding: 20px 20px 15px 20px;
  position: relative; }
  .notificationsCard:before {
    content: '';
    height: 14px;
    width: 14px;
    background-color: #FF575B;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 10px; }

.notificationsRequest {
  display: flex; }
  .notificationsRequest img {
    height: 53px;
    width: 53px;
    border-radius: 50%; }
  .notificationsRequest .notificationsRequestContainerContainer {
    padding-left: 15px;
    width: 100%; }
  .notificationsRequest .notificationsRequestContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: #181839;
    font-size: 1.6rem; }
    .notificationsRequest .notificationsRequestContainer .notificationsRequestText {
      padding: 0 15px 10px 0; }
      .notificationsRequest .notificationsRequestContainer .notificationsRequestText a {
        color: #757575;
        text-decoration: underline; }
  .notificationsRequest .x {
    width: 12px;
    height: 12px;
    background-color: transparent; }
  .notificationsRequest button {
    border: none;
    background-color: transparent; }

.notificationsDate {
  font-family: 'basier_squaremedium', sans-serif;
  font-size: 1.2rem;
  color: #757575;
  text-transform: uppercase;
  letter-spacing: .5px; }

.conf-wrapper {
  position: relative;
  overflow: hidden; }
  .conf-wrapper .red {
    background-color: #F16522; }
  .conf-wrapper .yellow {
    background-color: #FFC10E; }
  .conf-wrapper .blue {
    background-color: #008DAF; }

[class|="confetti"] {
  position: absolute; }

.plum {
  height: 225px;
  width: 98px; }

.plumContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh; }
  .plumContainer > div {
    position: relative;
    width: 80%; }
  .plumContainer .plumCta {
    display: flex;
    justify-content: space-between;
    font-size: 1.8rem;
    width: 80%;
    font-family: 'basier_squaremedium', sans-serif; }
    .plumContainer .plumCta a:first-child {
      color: #575757;
      text-decoration: underline; }
    .plumContainer .plumCta a:last-child {
      color: #FF575B; }
  .plumContainer h1 {
    padding-top: 30px;
    font-size: 44px;
    width: 80%;
    text-align: left; }
    .plumContainer h1::before {
      content: '';
      width: 40px;
      height: 1px;
      border-bottom: 3px solid #FF575B;
      position: absolute;
      top: 90px; }
  .plumContainer h2 {
    width: 80%;
    padding: 30px 30px 50px 0;
    font-size: 2.2rem; }

.button {
  height: 45px;
  max-width: 314px;
  width: 100%; }
  .button button {
    text-decoration: none;
    background-color: #FF575B;
    height: 45px;
    max-width: 314px;
    width: 100%;
    border-radius: 5px;
    border: none;
    font-family: 'basier_squaremedium', sans-serif;
    font-size: 1.6rem;
    color: #FFFFFF; }

h2 {
  font-size: 2.4rem;
  font-family: 'basier_squaremedium', sans-serif;
  font-weight: 1;
  padding-top: 15px; }

h3 {
  font-size: 1.8rem;
  font-family: 'basier_squaremedium', sans-serif;
  font-weight: 1; }

html {
  background-color: #F7F7F7;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #181839; }
